{% extends 'navbar/navbar-users.html' %}
{% load static %}
{% block title %}Customer | Menu{% endblock title %}
{% block Home %}
{% url 'cust_home'%}
{% endblock  %}
{% block rateOrder %}
{% endblock  %}
{% block OrderHis %}
{%url 'view_order'%}
{% endblock  %}


{% block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{{cart.0.id}}
<div class="container">
    <div class="m-5">
        <h2> My Cart</h2>
        <hr class="m-2">
    </div>
    <div class="row m-3">
        <div class="col-xl-8 mb-3">
            {%if cart%}
            {%for dish in cart%} 
            <div class="card border shadow-none mb-3 mt-3">
                <div class="card-body">

                    <div class="d-flex align-items-start border-bottom pb-3">
                       
                        <div class="flex-grow-1 align-self-center overflow-hidden">
                           <h5>{{dish.item}}</h5>
                        </div>
                        <div class="flex-shrink-0 ms-2">
                            <ul class="list-inline mb-0 font-size-16">
                                <li class="list-inline-item">
                                    <a href="{% url 'delete_from_cart' dish.id%}" class="text-muted px-1">
                                        <i class="mdi mdi-trash-can-outline"></i>
                                    </a>
                                </li>
                                {% comment %} <li class="list-inline-item">
                                    <a href="#" class="text-muted px-1">
                                        <i class="mdi mdi-heart-outline"></i>
                                    </a>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mt-3">
                                    <p class="text-muted mb-2">Price</p>
                                    <h5 class="mb-0 mt-2"><span class="text-muted me-2"></span>₹{{dish.item.price}}</h5>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mt-3">
                                    <p class="text-muted mb-2">Quantity</p>
                                    <div class="d-inline-flex">
                                        {{dish.item_count}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mt-3">
                                    <p class="text-muted mb-2">Total</p>
                                    <h5>₹{{dish.amount}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {%endfor%}
            {%endif%}
            <!-- end card -->

            <!-- end card -->
            {%if cart%}
            <div class="row my-4">
                <div class="col-sm-6" style="color:whitesmoke;">
                    <a href="{%url 'cust_view_menu' cart.0.item.rest_id.GSTIN_num%}
                    " class="btn btn-light text-muted" >
                        <i class="mdi mdi-arrow-left me-1" style="color:black;" ></i> Add More Items </a>
                </div> <!-- end col -->
                <div class="col-sm-6">
                    <div class="text-sm-end mt-2 mt-sm-0">
                        <a href="{% url 'place_order'%}" class="btn btn-success">
                            <i class="mdi mdi-cart-outline me-1"></i> Order Now </a>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row-->
        </div>

        <div class="col-xl-4">
            <div class="mt-5 mt-lg-0">
                <div class="card border shadow-none" style="width:fit-content;">
                    <div class="card-header bg-transparent border-bottom py-3 px-4">
                        <h5 class="font-size-16 mb-0">Bill Details</h5>
                    </div>
                    <div class="card-body p-4 pt-2">

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Sub Total :</td>
                                        <td class="text-end">₹ {{sub_total}}</td>
                                    </tr>
                                    <tr>
                                        <td>Tax : </td>
                                        <td class="text-end">₹ {{gst}}</td>
                                    </tr>
                                    <tr>
                                        <td>Delivery Charges :</td>
                                        <td class="text-end">₹ {{delivery_fee}}</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th>Total Amount:</th>
                                        <td class="text-end">
                                            <span class="fw-bold">
                                                ₹ {{total}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                        {%else%}
                        <div class="m-5 text-center">
                            <h5> Nothing in cart</h5>
                            <div class="text-sm-end mt-2 mt-sm-0">
                                <a href="{% url 'cust_home'%}" class="btn btn-light m-3">
                                    View Restaurants to Order </a>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    
</div>
{%endblock%}