{% extends 'navbar/navbar-users.html' %}
{% load static %}
{% block title %}Customer | Profile{% endblock title %}
{% block Home %}
{% url 'cust_home'%}
{% endblock  %}
{% block rateOrder %}
{% endblock  %}
{% block OrderHis %}
{%url 'view_order'%}
{% endblock  %}


{% block content%}

<div class="container emp-profile mt-5 ">
<div class="card p-4 p-lg-5" style="border-radius: 1rem;">
    
        <div class="row">
            <div class="col-md-4">
                <div style="position: relative;
                display: inline-block;">
                    <img src="{% static 'images/profile.png' %}" alt="Restuarant Image" style="max-width: 100%;
                    height: auto;" name="image" />
                    
                </div>

           
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h3>
                                {{customer.customer_name}}
                            </h3>
                           
                   
                </div>
                <div class="col-4 ">
                    <a href="{%url 'cust_profile_edit'%}" class="btn btn-dark" role="button" aria-disabled="true">Edit Profile</a>
                   
   
                </div>
            </div>

            <hr class="m-3">
            
        </div>
        <div class="row">
           
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                
                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Contact Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.user.phone_number}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Date Of Birth</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.dob}}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Age</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{customer.age}}</p>
                                    </div>
                                </div>

                                 
                                   
                                    {% if addresses %}
    {% for address in addresses %}
        <div class="row">
            <div class="col-md-6">
                <label>Address {{ forloop.counter }}</label>
            </div>
            <div class="col-md-6">
                <h6>{{ address.address_type }}</h6>
                <p>{{ address.flat_no }} {{ address.street_address }} {{ address.city }} {{ address.state }} {{ address.pin_code }}</p>
                <a href="{%url 'cust_edit_address' address.address_type%}" class="btn btn-outline-success" role="button" aria-disabled="true">Edit Address</a>
                <a href="{%url 'cust_delete_address' address.address_type%}" class="btn btn-outline-danger" role="button" aria-disabled="true">Delete Address</a>
                <hr/>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-md-6">
            <label>Address</label>
        </div>
        <div class="col-md-6">
            <p>No Address to Show</p>
        </div>
    </div>
{% endif %}


                                </div> 
                    </div>
                   
                    </div>
                </div>
            </div>
           
            </div>
            <div class="col-4 center">
                <a href="{%url 'cust_add_address'%}" class="btn btn-light btn-lg m-3" role="button" aria-disabled="true">Add Address</a>
            </div>
            </div>
            </div>
            
{%endblock%}