{% extends 'navbar/navbar-rider.html' %}
{% block title %}rider.rider_name{% endblock title %}
{% block Home %}
{% url 'rider_home'%}
{% endblock  %}
{% load static %}



{% block  content %}
<div class="container emp-profile mt-5 ">
    <div class="card p-4 p-lg-5" style="border-radius: 1rem;">
        
            <div class="row">
                <div class="col-md-4">
                    <div style="position: relative;
                display: inline-block;">
                    <img src="{% static 'images/profile.png' %}" alt="Restuarant Image" style="max-width: 100%;
                    height: auto;" name="image" />
                    
                </div>
    
               
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                                <h3>
                                    {{rider.rider_name}}
                                </h3>
                               
                       
                    </div>
                    <div class="col-4 ">
                        <a href="{%url 'rider_edit_profile'%}" class="btn btn-dark" role="button" aria-disabled="true">Edit Profile</a>
                       
       
                    </div>
                </div>
    
                <hr class="m-3">
                
            </div>
            <div class="row">
               
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    
                                   
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{rider.user.email}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Contact Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{rider.user.phone_number}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Date Of Birth</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{rider.dob}}</p>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Age</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{rider.age}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>License Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{rider.lisence_num}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>City of Work Chosen</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{rider.area_of_work}}</p>
                                        </div>
                                    </div>
    
                                     
                                       
    
    
                                    </div> 
                        </div>
                       
                        </div>
                    </div>
                </div>
               
                </div>
                
                </div>
                </div>
                
    {%endblock%}