{% extends 'navbar/navbar-rider.html' %}
{% block title %}rider.rider_name{% endblock title %}
{% block Home %}
{% url 'rider_home'%}
{% endblock  %}



{% block  content %}


<section >
    {%if order_received%}
    <div class="album py-5">
        <div class="container-fluid">
    <div class="conatiner m-5">
        <h1> Order Delivered : </h1>
       <hr>
    </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
         {%for order in order_received%}
            <div class="col-8 m-2 " style="width: 800px;
            height: max-content;">
              <div class="card shadow-sm px-3 py-3">
                <h3>Order Id : {{order.order_id}}</h3>
                <hr>

                <div class="card-body" style="width: 100%;
                height: 100%;">
                   
                
          <ul class="list-group mb-3">
            <li class="list-group-item justify-content-between lh-sm"><h6>Order Details</h6></li>
            {%for cart in order.cart_item.all%}
            <li class="list-group-item justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{cart.item}}</h6>
                <small class="text-body-secondary">Quantity : {{cart.item_count}}</small>
              </div>
            </li>
            {%endfor%}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total Amount </span>
              <strong>₹{{order.total_amount}}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Customer Name </span>
              <p>{{order.cust_id.customer_name}}</p>
            </li>
            <li class="list-group-item d-flex ">
              <span>Address of Delivery </span>
              <p class="mr-0">{{order.address_of_delivery.flat_no}} {{order.address_of_delivery.street_address}} {{order.address_of_delivery.city}} {{order.address_of_delivery.state}} {{order.address_of_delivery.pin_code}}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Contact Info of Receiver </span>
              <p>{{order.cust_id.user.phone_number}}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <h6>Restaurant Name </h6>
              <p>{{order.rest_id}}</p>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <h6>Pickup Address </h6>
              <p>{{order.rest_id.house}} {{order.rest_id.street_address}} {{order.arest_id.city}} {{order.rest_id.state}} {{order.rest_id.pin_code}}</p>
            </li>
          </ul>
          
    </div>
    </div>
    </div>
          {%endfor%}
           
            </div>
          </div>
        </div>
      </div>
      {%else%}
      <div class="container-fluid">
        <div class="conatiner m-5">
            <h1> No order Received</h1>
           <hr>
        </div>
    </div>
    {%endif%}
    </section>
      {% endblock  %}