{% extends 'navbar/navbar-rest.html' %}
{% load static %}
{% block title %}restaurant.restaurant_name{% endblock title %}
{% block Home %}
{% url 'rest_home'%}
{% endblock  %}
{% block OrderHis %}
{%url 'order_history'%}
{% endblock  %}
{% block Menu %}
{%url 'display_menu'%}
{% endblock  %}
{% block myProfile %}
{% endblock  %}

{% block content%}

<section >
    <div class="container py-5 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card fadeIn first" style="border-radius: 1rem;">
            <div class="row g-0">
                {% if messages %}
                <div class="alert alert-light" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                  </div>
                {% endif %}
               
              
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form method="post" enctype='multipart/form-data'>
                     {% csrf_token %}
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h2 fw-bold mb-0">Change Password</span>
                    </div>
  
  
                   <div class="form-outline mb-4">
                      <input type="password" name="new" id="form2Example27" class="form-control form-control-lg fadeIn fourth" placeholder="Enter New Password"/>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" name="confirm" id="form2Example27" class="form-control form-control-lg fadeIn fourth" placeholder="Confirm Password"/>
                    </div>


                    


  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Change Password</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
{%endblock%}