{% extends 'navbar/navbar-rest.html' %}
{% block title %}restaurant.restaurant_name{% endblock title %}
{% block Home %}
{% url 'rest_home'%}
{% endblock  %}
{% block Inventory %}
{% endblock  %}
{% block Menu %}
{%url 'display_menu'%}
{% endblock  %}

{% block content%}


<section >

    <div class="container py-5 ">
    <h1 class=" m-5"> Edit Dish : {{dish.name_of_dish}}</h1>
    <hr>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card fadeIn first" style="border-radius: 1rem;">
            <div class="row g-0">
                {% if messages %}
                <div class="alert alert-light" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                  </div>
                {% endif %}
               
              
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form method="post" enctype='multipart/form-data'>
                     {% csrf_token %}
    
                    <div class="form-outline mb-4">
                        <label for="check">Is the dish item veg ? </label>
                      <input type="checkbox" name="isveg" id="form2Example17" class="form-control form-control-lg form-check-input" />
                      
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" name="name" id="form2Example17" class="form-control form-control-lg" placeholder="Enter Name of Dish"/>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="textarea" name="desc" id="form2Example17" class="form-control form-control-lg" placeholder="Enter Description of Dish"/>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="float" name="price" id="form2Example27" class="form-control form-control-lg" placeholder="Enter Price"/>
                    </div>

            

                    <div class="form-outline mb-4">
                      <input type="number" name="count" id="form2Example17" class="form-control form-control-lg" placeholder="Enter Count of Dish Prepared Per Day"/>
                    </div>

                    <div class="form-outline mb-4">
                    <label for="img">Select image:</label>
                    <input type="file" id="img" name="image" accept="image/*">
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-outline-dark btn-lg btn-block" type="submit">Click To Make Changes</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
{% endblock  %}
